{% extends 'base/base.html' %}

{% load static %}

{% block keywords %} {% endblock %}

{% block description %} {% endblock %}

{% block title %} Home {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block header %} {% include 'partials/_header.html' %} {% endblock %}

{% block navbar %} {% include 'partials/_navbar.html' %} {% endblock %}

{% block content %}

{% include 'home/slider.html' %}

{% include 'home/product.html' %}

{% endblock %}

{% block footer %} {% include 'partials/_footer.html' %} {% endblock %}

{% block extrascripts %} {% endblock %}