{% load static %}


<!-- jQuery Plugins -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Slick -->
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>

<!-- nouislider -->
<script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>

<!-- jQuery Zoom -->
<script type="text/javascript" src="{% static 'js/jquery.zoom.min.js' %}"></script>

<!-- jQuery UI -->
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

<!-- TinyMCE -->
<script type="text/javascript" src="{% static 'js/highlight.pack.js' %}"></script>

<!-- Main JS -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>