{% extends 'base/base.html' %}

{% load static %}

{% block keywords %} {% endblock %}

{% block description %} {% endblock %}

{% block title %} Set New Password {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block header %} {% include 'partials/_header.html' %} {% endblock %}

{% block navbar %} {% include 'partials/_navbar.html' %} {% endblock %}

{% block content %}

<div id="breadcrumb">
 <div class="container">
  <ul class="breadcrumb">
   <li><a href="#">Home</a></li>
   <li class="active">Set Password</li>
  </ul>
 </div>
</div>


<div class="section">
 <div class="container">
  <div class="row">
   <form id="validationForm" class="clearfix" action="{% url 'reset_user_password' uidb64 token %}" method="POST">
    {% csrf_token %}
    {% include 'partials/_messages.html' %}
    <div class="col-md-6 col-md-offset-3">
     <div class="billing-details">
      <div class="section-title">
       <h3 class="title">Set New Password</h3>
      </div>
      <div class="form-group">
       <input class="input" id="password" type="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
       <input class="input" type="password" name="confirm_password" placeholder="Re-enter Password">
      </div>
      <button class="primary-btn">Submit</button>
      <div style="padding-top: 10px;">
       <p class="">Not a member?
        <a class="text-danger" href="{% url 'signup' %}">Sign Up</a>
       </p>
      </div>
     </div>
    </div>
   </form>
  </div>
 </div>
</div>

{% endblock %}

{% block footer %} {% include 'partials/_footer.html' %} {% endblock %}

{% block extrascripts %} {% endblock %}